<div id="<%= dom_id favourite %>">
  <p>
    <strong>Title:</strong>
    <%= favourite.title %>
  </p>

  <p>
    <strong>String,:</strong>
    <%= favourite.string, %>
  </p>

  <p>
    <strong>Embed link:</strong>
    <%= favourite.embed_link %>
  </p>

  <p>
    <strong>String:</strong>
    <%= favourite.string %>
  </p>

  <p>
    <strong>User uid:</strong>
    <%= favourite.user_uid %>
  </p>

  <p>
    <strong>String:</strong>
    <%= favourite.string %>
  </p>

  <p>
    <strong>Logged user:</strong>
    <%= favourite.logged_user %>
  </p>

</div>
